/*Página de estilos*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*importação de fonte*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*declaração de variáveis*/

:root{
    --fonte:'Roboto', sans-serif;
    --cor-principal:rgb(114, 235, 59);
    --cor-secundaria:rgb(165, 238, 131);
    --cor-terciaria:rgb(90, 184, 46);
    --cor-quartenaria:rgb(74, 107, 59);
    --branco-transp: rgb(255,255,255,0.6);
}

/*layout padrão para todas as páginas*/

html{
    background-color: black;
}

body{
    background-image: linear-gradient(white, black);
    display: grid;
    grid-template-columns: repeat(12, 8vw);
    column-gap: 0.3vw;
    grid-template-areas: "head head head head head head head head head head head head"
                            '. . main main main main main main main main qr .';
    grid-template-rows: auto auto;
}

header{
    background-color: var(--cor-principal);
    grid-area: head;
    font-family: var(--fonte), sans-serif;
    padding: 1vh 1vw;
    min-height: min-content;
    display: grid;
    grid-template-areas: 'tit tit tit tit tit tit tit tit tit tit tit tit'
    'as as . . . . . . . . . nav';
}

main{
    background-color: var(--branco-transp);
    grid-area: main;
    box-shadow: 0px 0px 20px black;
    font-family: var(--fonte), sans-serif;
    min-height: 80vh;
    max-height: max-content;
    padding: 1vh 1vw;
    font-size: 3vmin;
}

nav{
    background-color: var(--cor-terciaria);
    grid-area: nav;
    box-shadow: 0px 0px 20px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vh 1vw;
}

aside{
    background-color: var(--cor-quartenaria);
    grid-area: as;
    padding: 1vh 1vw;
    border-radius: 5px;
    height: min-content;
    box-shadow: 0px 0px 10px black;
}

h1.tit{
    grid-area: tit;
    font-size: 5vmin;
}

section.qr{
    grid-area: qr;
    background-image: url(qr\ code\ site.png);
    background-size: cover;
    width: 100%;
    height: 8vw;
}

@media screen and (max-width: 768px) {
    h1.tit{
        font-size: 4vmin;
    }
}

/*estilos por página, usando a classe destinada à página*/

/*estilo da página hist*/
@media screen and (min-width: 768px) {
    main.hist{
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 2%;
    }
    .hist#sec1{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        column-gap: 0.5%;
        font-size: 3vmin;
    }
    .hist#sec2{
        display: grid;
        grid-template-columns: repeat(4, 22.5%);
        column-gap: 2%;
        font-size: 2.5vmin;
    }
}

/*estilo da página cien*/
@media screen and (min-width:768px) {
    main.cien{
        display: grid;
        grid-template-rows: min-content max-content;
    }
    .cien#sec1{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        column-gap: 0.5%;
        font-size: 3vmin;
    }
}

/*estilo da página ifis*/
@media screen and (min-width:768px) {
    main.ifis{
        display: grid;
        grid-template-rows: min-content max-content;
    }
    .ifis#sec1{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        column-gap: 4.5%;
        font-size: 3vmin;
    }
}

/*estilo da página sref*/

@media screen and (min-width:768px) {
    .sref#gif1{
        width: 150px;
        height: 150px;
    }

    main.sref{
        display: grid;
        grid-template-rows: min-content max-content;
    }

    .sref#sec1{
        display: grid;
        grid-template-rows: min-content;
    }
}

.sref#gif1{
    width: 100px;
    height: 100px;
}

li.sref{
    list-style-type:none;
}

/*estilo da página atvsref*/

@media screen and (min-width:768px) {
    main.atvsref{
        display: grid;
        grid-template-rows: min-content max-content auto;
    }

    .atvsref#sec1{
        display: grid;
        grid-template-areas: 'h2 h2'
                            'sec2 sec3';
        column-gap: 10%;
    }

    h2.atvsref{
        grid-area: h2;
    }

    .atvsref#sec2{
        grid-area: sec2;
    }

    .atvsref#sec3{
        grid-area: sec3;
    }
}

li.atvsref{
    list-style-type: none;
}

iframe.atvsref{
    width: 90%;
    height: 100%;
    margin: auto;
}

/*Estilo específico para o formulário não quebrar no smartphone*/

@media screen and (max-width:768px) {
    iframe.atvsref{
        width: 640px;
        height: 480px;
    }    
}

/*estilo da página origem*/

@media screen and (min-width:768px) {
    main.origem{
        display: grid;
        grid-template-rows: min-content max-content;
    }

    section.origem.video{
        margin: auto;
    }

    iframe.origem{
        width: 560px;
        height: 315px;
    }
}

/*estilo específico para o vídeo não quebrar em smartphone*/

@media screen and (max-width:768px) {
    iframe.origem{
        max-width: 100%;
        margin: auto;
    }
}

/*estilo da página ordem*/

@media screen and (min-width:768px) {
    main.ordem{
        display: grid;
        grid-template-rows: min-content min-content;
        row-gap: 2%;
    }
}

/*estilo específico para a tabela da página ordem*/

table.ordem, th.ordem, td.ordem{
    border: 1px solid black;
    text-align: center;
}

/*estilo da página og_e e og_ee*/

.result{
    color: red;
}

@media screen and (min-width:768px) {
    main.og_e , main.og_ee{
        display: grid;
        grid-template-rows: min-content min-content min-content min-content;
        row-gap: 3%;
        grid-template-areas: 'h h'
                            't t'
                            'sec1 sec2'
                            'f f';
    }
    .og_e#h , .og_ee#h{grid-area: h;}
    .og_e#t , .og_ee#t{grid-area: t;}
    .og_e#sec1 , .og_ee#sec1{grid-area: sec1;}
    .og_e#sec2 , .og_ee#sec2{grid-area: sec2;}
    .og_e#f , .og_ee#f{grid-area: f;}
}

/*estilo da página pri_bim*/

@media screen and (min-width:768px) {
    main.pri_bim{
        display: grid;
    }
    iframe.pri_bim{
        width: 90%;
        height: 70vh;
        margin: auto;
    }
}

/*estilo específico para o vídeo não quebrar em smartphone*/

@media screen and (max-width:768px) {
    iframe.pri_bim{
        max-width: 100%;
        margin: auto;
    }
}