*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fonte:'Roboto', sans-serif;
    --cor-principal:rgb(114, 235, 59);
    --cor-secundaria:rgb(165, 238, 131);
    --cor-terciaria:rgb(90, 184, 46);
    --cor-quartenaria:rgb(74, 107, 59);
    --branco-transp: rgb(255,255,255,0.6);

}

body.phone{
    background-color: grey;
    display: grid;
    grid-template-areas: 'head head head'
                        '. main .'
                        'foot foot foot';
    grid-template-columns: 10vw 80vw 10vw;
}

header.phone{
    background-color:var(--cor-secundaria);
    grid-area: head;
    font-family: var(--fonte);
    font-size: medium;
    min-height: 5vh;
    max-width: 100vw;
}

main.phone{
    background-color: var(--branco-transp);
    box-shadow: 0px 10px 5px black;
    grid-area: main;
    font-family: var(--fonte);
    font-size: larger;
    min-height: 90vh;
    max-width: 80vw;
    display: flexbox;
}

footer.phone{
    background-color: var(--cor-quartenaria);
    grid-area: foot;
    font-family: var(--fonte);
    min-height: 5vh;
    max-width: 100vw;
}
